
{% extends "base.html"%}

{%block title%}
    <title>Velas</title>
{% endblock title%}

{%block content_title%}
    Listado de velas
{% endblock content_title%}

{%block content%}
<div class="container">
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for vela in velas %}
    <li>  {{vela.nombre}} | 
        <a href="{% url 'detalle_vela' vela.id %}">Ver más</a> 
        <a href="{% url 'editar_vela' vela.id %}">Editar</a>
        <a href="{% url 'eliminar_vela' vela.id %}">Eliminar</a>
    </li>
    
    <div class="col">
    <div class="card h-100 shadow-sm">
        <div class="card-body">
        <h5 class="card-title">{{ vela.nombre }}</h5>
        <p class="card-text"><strong>Aroma:</strong> {{ vela.aroma }}</p>
        <p class="card-text"><strong>Color:</strong> {{ vela.color }}</p>
        <p class="card-text"><strong>Precio:</strong> ${{ vela.precio }}</p>
        <p class="card-text"><strong>Fecha creacion:</strong> {{ vela.fecha_creacion }}</p>
        </div>
    </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock content%}
